<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDa7coYOYztztFgLz6vVAyqn1Cxynw8lyg</string>
	<key>GCM_SENDER_ID</key>
	<string>940229806451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bloodconnector.admin</string>
	<key>PROJECT_ID</key>
	<string>blood-connector-d0b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-connector-d0b1a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940229806451:ios:000ed2198d0be84b991d06</string>
</dict>
</plist>
